{% extends "orders/_base.html" %} {% block title %}
<title>PizzaStore</title>
{% endblock %} {% block body %} {% load static %}
<div class="container py-5 ">
  <!-- Place modal window here -->
  <!-- Modal -->
  <!-- Modal -->

  <!-- Pizzas -->
  <div class="project-group text-center">
    <h3 class="display-4">Pizza</h3>
  </div>
  <div class="row my-5">
    {% for pizza in pizzas %}
    <div class="col-lg-4 col-md-6 card-deck ftco-animate">
      <div class="card bg-transparent text-center ">
        <img
          class="card-img-top"
          src="{{ pizza.image.url }}"
          alt="{{ pizza.name }}"
          title="{{ pizza.name }}"
        />
        <div class="card-body">
          <h5 class="card-title text-white">{{ pizza.name }}</h5>
          <p class="card-text">{{ pizza.description }}</p>
          {% if user.is_authenticated %}
          <button
            type="button"
            class="btn btn-primary add-to-order"
            data-toggle="modal"
            data-target="#modalProduct"
            data-product-class="PizzaName"
            data-product-name="{{ pizza.name }}"
            data-product-id="{{"
            pizza.pk
            }}
          >
            Add to order
          </button>
          {% endif %}
        </div>
        {% if not user.is_authenticated %}
        <div class="card-footer text-muted">
          Log in to add to order
        </div>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col-lg col-md">
      <p>Sorry, we run out of pizza</p>
    </div>
    {% endfor %}
  </div>

  <!-- Subs -->
  <div class="project-group text-center">
    <h3 class="display-4">Subs</h3>
  </div>
  <div class="row my-5">
    {% for sub in subs %}
    <div class="col-lg-4 col-md-6 card-deck ftco-animate">
      <div class="card bg-transparent text-center">
        <img
          class="card-img-top"
          src="{{ sub.image.url }}"
          alt="{{ sub.name }}"
          title="{{ sub.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ sub.name }}</h5>
          <p class="card-text">{{ sub.description }}</p>
          {% if user.is_authenticated %}
          <button
            type="button"
            class="btn btn-primary add-to-order"
            data-toggle="modal"
            data-target="#modalSubs"
            data-product-class="Sub"
            data-product-name="{{ sub.name }}"
            data-product-id="{{"
            sub.pk
            }}
          >
            Add to order
          </button>
          {% endif %}
        </div>
        {% if not user.is_authenticated %}
        <div class="card-footer text-muted">
          Log in to add to order
        </div>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col-lg col-md">
      <p>Sorry, we run out of subs</p>
    </div>
    {% endfor %}
  </div>

  <!-- Pastas -->
  <div class="project-group text-center">
    <h3 class="display-4">Pastas</h3>
  </div>
  <div class="row my-5">
    {% for pasta in pastas %}
    <div class="col-lg-4 col-md-6 card-deck">
      <div class="card bg-transparent text-center">
        <img
          class="card-img-top"
          src="{{ pasta.image.url }}"
          alt="{{ pasta.name }}"
          title="{{ pasta.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ pasta.name }}</h5>
          <p class="card-text">{{ pasta.description }}</p>
          {% if user.is_authenticated %}
          <button
            type="button"
            class="btn btn-primary add-to-order"
            data-toggle="modal"
            data-target="#modalPastas"
            data-product-class="Pasta"
            data-product-name="{{ pasta.name }}"
            data-product-id="{{"
            pasta.pk
            }}
          >
            Add to order
          </button>
          {% endif %}
        </div>
        {% if not user.is_authenticated %}
        <div class="card-footer text-muted">
          Log in to add to order
        </div>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col-lg col-md">
      <p>Sorry, we run out of pastas</p>
    </div>
    {% endfor %}
  </div>

  <!-- Salads -->
  <div class="project-group text-center">
    <h3 class="display-4">Salads</h3>
  </div>
  <div class="row my-5">
    {% for salad in salads %}
    <div class="col-lg-4 col-md-6 card-deck">
      <div class="card bg-transparent text-center">
        <img
          class="card-img-top"
          src="{{ salad.image.url }}"
          alt="{{ salad.name }}"
          title="{{ salad.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ salad.name }}</h5>
          <p class="card-text">{{ salad.description }}</p>
          {% if user.is_authenticated %}
          <button
            type="button"
            class="btn btn-primary add-to-order"
            data-toggle="modal"
            data-target="#modalSalads"
            data-product-class="Salad"
            data-product-name="{{ salad.name }}"
            data-product-id="{{"
            salad.pk
            }}
          >
            Add to order
          </button>
          {% endif %}
        </div>
        {% if not user.is_authenticated %}
        <div class="card-footer text-muted">
          Log in to add to order
        </div>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col-lg col-md">
      <p>Sorry, we run out of salads</p>
    </div>
    {% endfor %}
  </div>

  <!-- Dinner Platters -->
  <div class="project-group text-center">
    <h3 class="display-4">Dinner Platters</h3>
  </div>
  <div class="row my-5">
    {% for dinner_platter in dinner_platters %}
    <div class="col-lg-4 col-md-6 card-deck">
      <div class="card bg-transparent text-center">
        <img
          class="card-img-top"
          src="{{ dinner_platter.image.url }}"
          alt="{{ dinner_platter.name }}"
          title="{{ dinner_platter.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ dinner_platter.name }}</h5>
          <p class="card-text">{{ dinner_platter.description }}</p>
          {% if user.is_authenticated %}
          <button
            type="button"
            class="btn btn-primary add-to-order"
            data-toggle="modal"
            data-target="#modalDinnerPlatters"
            data-product-class="DinnerPlatterName"
            data-product-name="{{ dinner_platter.name }}"
            data-product-id="{{"
            dinner_platter.pk
            }}
          >
            Add to order
          </button>
          {% endif %}
        </div>
        {% if not user.is_authenticated %}
        <div class="card-footer text-muted">
          Login to create orders
        </div>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col-lg col-md">
      <p>Sorry, we run out of dinner platters</p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal" id="modalProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Please select your size</h4>
        <select id="size">
          {% for size in sizes%}
          <option value="{{size}}">{{size}}</option>
          {% endfor %}
        </select>
        <h4>Please select number of toppings</h4>

        <select id="amount">
          <option value="1">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <h4>Please select your toppings</h4>
        <select id="topping" class="w-100" multiple="multiple">
          {% for topping in toppings%}
          <option value="{{topping}}">{{topping}}</option>
          {% endfor %}
        </select>
        <h4>Please select the quantity</h4>

        <select id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          data-type="pizza"
          type="button"
          class="btn btn-primary submit-order"
        >
          Save changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalDinnerPlatters" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Please select the size</h4>

        <select id="size">
          {% for size in sizes%}
          <option value="{{size}}">{{size}}</option>
          {% endfor %}
        </select>
        <h4>Please select the quantity</h4>

        <select id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          data-type="dinnerPlatters"
          type="button"
          class="btn btn-primary submit-order"
        >
          Save changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Salads-->
<div class="modal" id="modalSalads" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Please select the quantity</h4>

        <select id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          data-type="salads"
          type="button"
          class="btn btn-primary submit-order"
        >
          Save changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pastas-->
<div class="modal" id="modalPastas" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Please select the quantity</h4>

        <select id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          data-type="pastas"
          type="button"
          class="btn btn-primary submit-order"
        >
          Save changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Subs-->
<div class="modal" id="modalSubs" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Please select the size</h4>

        <select id="size">
          {% for size in sizes%}
          <option value="{{size}}">{{size}}</option>
          {% endfor %}
        </select>

        <h4>Please select the quantity</h4>

        <select id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="modal-footer">
        <button
          data-type="subs"
          type="button"
          class="btn btn-primary submit-order"
        >
          Save changes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
